# FastAPI and Server Dependencies
fastapi[standard]
gunicorn
python-multipart
python-dotenv

# Database Drivers
motor
pymongo
psycopg2-binary
psycopg-binary
langchain_postgres
langchain-mongodb

# Authentication and Security
python-jose
passlib==1.7.4
bcrypt==4.0.1

# LangChain and AI/ML
langchain
langchain-community
langchain-ollama
langchain-huggingface
sentence_transformers

# Document Processing
pypdf
python-magic
docx2txt
docx2pdf
bs4
PyMuPDF 
Pillow

# Utilities
colorama