# FastAPI and Server Dependencies
fastapi[standard]
gunicorn
python-multipart
python-dotenv

# Database Drivers
motor
pymongo
psycopg2-binary
psycopg-binary
langchain_postgres
langchain-mongodb

# Authentication and Security
passlib
python-jose
bcrypt

# LangChain and AI/ML
langchain
langchain-community
langchain-ollama
langchain-huggingface
sentence_transformers

# Document Processing
pypdf
python-magic
docx2txt
bs4

# Utilities
colorama