fastapi[standard]
motor
python-multipart
pymongo
colorama
langchain
langchain-community
pypdf
sentence_transformers
langchain-ollama
langchain-cohere
python-dotenv
langchain-huggingface
langchain_postgres
psycopg-binary
python-magic
docx2txt